$footerHeight : 50px;

.modules {
    width: 100%;
    height: calc(100vh - $footerHeight);
    overflow: auto;

    &-header {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    &-footer{
        width: 100%;
        height: $footerHeight;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        background-color: rgb(255, 236, 219);

        &-total {
            justify-self: center;
        }

        &-submit {
            justify-self: center;
            width: 120px;
            height: 30px;
            background-color: rgb(234, 93, 23);
            color: white;
        }
    }
}